@page "/"

<div class="mx-5 my-3" id="navbar-index">

    <div id="subnavbar-index">

        <div class="img-index d-flex justify-content-center my-3">
            <div>
                <img src="Images/Logo.jpg" alt="D2.MAS Team" id="D2MAS-img">
            </div>
        </div> 

    </div>

</div>
