@page "/"

<div class="nav-options">

    <Options />

</div>

<nav class="navbar navbar-light bg-light nav">
    <div class="img-index">
        <img src="Images/Logo.jpg" alt="D2.MAS Team" class="D2MAS-img">
    </div>

    <div class="container-fluid div-form">
        <form class="d-flex">
            <input class="form-control me-2 input-nav-form" type="search" placeholder="Introduzca el nombre de una película, actor o categoría." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
    
</nav>
