@page "/home-category"
@inject NavigationManager navigationManager

<div class="form-group">
    <div class="jumbotron">
        <div class="row d-flex justify-content-center">
            <button type="button" class="btn btn-success mx-3" @onclick="@(() => navigationManager.NavigateTo("/categories/create"))">Crear categoría</button>
            <button type="button" class="btn btn-primary mx-3" @onclick="@(() => navigationManager.NavigateTo("/categories/edit/7"))">Editar categoría</button>
            <button type="button" class="btn btn-info mx-3" @onclick="@(() => navigationManager.NavigateTo("/category"))">Listar categorías</button>
            <button type="button" class="btn btn-danger mx-3" @onclick="@(() => Console.WriteLine("En espera de implementar esta función"))">Eliminar categoría</button>
        </div>
    </div>
</div>