<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">pruebaPelicula</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass bbcita">
    <ul class="nav flex-column">
        <li class="nav-item px-3" @onclick="ToggleNavMenu">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true"><img src="Images/startup-icon.png" alt="startup-icon" id="startup-icon"></span> Inicio
            </NavLink>
        </li>
        <li class="nav-item px-3" @onclick="ToggleNavMenu">
            <NavLink class="nav-link" href="movies">
                <span class="oi"><img src="Images/film-icon.png" alt="film-icon" id="film-icon"></span> Películas
            </NavLink>
        </li>
        <li class="nav-item px-3" @onclick="ToggleNavMenu">
            <NavLink class="nav-link" href="/actors">
                <span class="oi" aria-hidden="true"><img src="Images/film-icon.png" alt="film-icon" id="film-icon"></span>Actores
            </NavLink>
        </li>
        <li class="nav-item px-3" @onclick="ToggleNavMenu">
            <NavLink class="nav-link" href="/categories">
                <span class="oi"><img src="Images/film-icon.png" alt="film-icon" id="film-icon"></span>Categorías
            </NavLink>
        </li>
    </ul>
    <div id="navmenu-searchbar">
        <SearchBar />
    </div>
</div>

@code {

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
