#options-nav {
    max-width: 815px;
    max-height: 40px;
    /* background-color: yellow; */
}

a {
    color: #1b6ec2 !important;
    font-weight: bold;
    padding-right: 0;
    padding-left: 0;
    cursor: pointer;
}

a:hover {
    border-bottom: 1px solid #1b6ec2;
}

@media (max-width: 690px) {
    #options-nav {
        font-size: 14px;
    }
}

 @media (max-width: 641px) {
    #options-nav {
        display: none !important;
    }
}