@inject IModalService modal

    <nav class="nav options d-flex justify-content-between mx-auto" id="options-nav">

        <a class="nav-link" @onclick="@(() => modal.Show<ModalCRUDPeliculas>("CRUD Película"))">CRUD Película</a>
        <a class="nav-link" @onclick="@(() => modal.Show<ModalCRUDActores>("CRUD Actor"))">CRUD Actor</a>
        <a class="nav-link" @onclick="@(() => modal.Show<ModalCRUDCategorias>("CRUD Categoría"))">CRUD Categoría</a>

    </nav>