/* Index.razor.css */
#navbar-index {
    position: relative;
    height: calc(100vh - 136px);
}

#subnavbar-index {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
}



/* Peliculas.razor.css */
#card-deck {
    /* background-color: aqua; */
    max-width: 812px;
}

.card, .card-img-top {
    border-radius: 7px;
}

.card {
    max-height: 500px;
    
    max-width: 240px;
    min-width: 240px;
}

.card-img-top {
    max-height: 340px;
    height: 340px;
}

.card-img-info:hover .card-img-top {
    display: none;
}

.card-img-info:hover .card-info {
    display: block;
}

.card-img-info {
    height: 340px; 
    width: 100%; 
}

.card-img-info {
    cursor: pointer;
}

.card-info {
    height: 340px; 
    width: 100%; 
    border-radius: 7px;
    margin: 0;
    padding: 10px; 
    background-color: black;
    display: none;
}

#btn-details:hover {
    cursor: pointer;
}

#container-rate-description {
    width: 45px;
    position: relative;
    top: 0;
    left: 100%;
    transform: translate(-100%, 100%);
}

#icon-star-description {
    width: 15px;
}

#rate-description {
    font-size: 12px;
    color: white;
}

/* InformacionPelicula.razor.css */
#container-informacionpelicula {
    width: 55vw;
}

#icon-star {
    max-width: 45px;
}

#h5-info {
    width: 100%;
    margin: 0;
    text-align: right;
}

/* @media Index.razor.css */
@media (max-width: 641px) {
    #navbar-index {
        height: calc(100vh - 88px) !important;
    }
}

/* @media Peliculas.razor.css */
 @media (max-width: 576px) {
    .card {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
} 

/* @media InformacionPelicula.razor.css */
@media (max-width: 768px) {
    #h5-info {
        text-align: left !important;
        font-size: 18px !important;
    }

    h6#h6-info {
        font-size: 14px !important;
    }
}

@media (max-width: 320px) {
    #h5-info {
        text-align: left !important;
        font-size: 16px !important;
    }

    h6#h6-info {
        font-size: 12px !important;
    }
}
