.img-index {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 10vh;
    right: 0;
    left: 0;
    margin: 0;
}

.D2MAS-img {
    margin: 0;
    padding: 0;
    height: 250px;
}

.navbar.navbar-light.bg-light.nav {
    margin: 0;
    padding: 0;
}

.container-fluid.div-form {
    position: absolute;
    top: 45vh;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin: 0;
}

.form-control.me-2.input-nav-form {
    margin-right: 5px;
    width: 50vw;
}

.cards-container {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.card {
    width: 100%;
    max-width: 15rem;
    margin: 5px;
    border: rgb(122, 122, 122);
    border-style: solid;
    border-width: 1.5px;
}

.a-group {
    display: flex;
    justify-content: space-around;
}

.card-body {
    align-items: flex-end;
}

.card-img-top {
    max-height: 336px;
    border-radius: 7px;
}

.form-container {
    width: 50vw;
}

.row.g-3 {
    height: 500px;
}

@media (max-width: 640.98px) {

    .D2MAS-img {
        height: 150px;
    }

    .img-index {
        height: 150px;
    }
    
    .container-fluid.div-form {
        top: 27vh;
    }

    .d-flex {
        width: 100%;
    }

    .form-control.me-2.input-nav-form {
        margin-right: 5px;
        width: 100%;
    }   

}