@inject IModalService modal


<div class="form-container">
    
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputText4" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputText4">
        </div>
        <div class="col-md-6">
            <label for="inputText5" class="form-label">Fecha de estreno</label>
            <input type="text" class="form-control" id="inputText5">
        </div>
        <div class="col-12">
            <label for="inputIdioma" class="form-label">Idioma</label>
            <input type="text" class="form-control" id="inputIdioma">
        </div>
        <div class="col-12">
            <label for="inputPuntuacion" class="form-label">Puntuación de los usuarios</label>
            <input type="number" class="form-control" id="inputPuntuacion">
        </div>
        <div class="col-md-6">
            <label for="inputDuracion" class="form-label">Duración</label>
            <input type="text" class="form-control" id="inputDuracion">
        </div>
        <div class="col-md-4">
            <label for="inputCategoria" class="form-label">Categoría</label>
            <select id="inputCategoria" class="form-select">
                <option selected>Choose...</option>
                <option>Acción</option>
                <option>Animación</option>
                <option>Aventura</option>
                <option>Comedia</option>
                <option>Fantasia</option>
                <option>Romance</option>
                <option>Terror</option>
                <option>Misterio</option>
            </select>
        </div>
        <div class="col-md-2">
            <a @onclick="@(()=>modal.Show<UploadImages>(""))">Subir imagen </a>
        </div>
        
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>

</div>