

<div class="form-container">
    
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputName" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputName">
        </div>
        <div class="col-md-6">
            <label for="inputBirthDate" class="form-label">Fecha de nacimiento</label>
            <input type="text" class="form-control" id="inputBirthDate">
        </div>
        <div class="col-12">
            <label for="inputBio" class="form-label">Biografía</label>
            <textarea class="form-control" id="inputBio" style="height:20vh"></textarea>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>

</div>