<div class="my-auto mx-auto" id="container-informacionpelicula">

    <div class="row mt-4 mx-0">
        <div class="col-md-3 d-flex" id="container-rate">
            <span class="mr-2">
                <img src="Images/star.png" id="icon-star">
            </span>
            <em><h4 class="m-0 p-0" id="rate">10 /10</h4></em>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-md-3 d-flex" id="campos-txt">
            <h5 id="h5-info">Nombre:</h5>
        </div>
        <div class="col-md-9 d-flex">
            <h6 class="m-0 text-muted" id="h6-info">Shang-Chi y la leyenda de los diez anillos</h6>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-md-3 d-flex" id="campos-txt">
            <h5 id="h5-info">Sinopsis:</h5>
        </div>
        <div class="col-md-9 d-flex">
            <h6 class="m-0 text-muted" id="h6-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi cupiditate maxime, ut, 
            aliquid mollitia ab pariatur, ea minima iusto assumenda sequi architecto. Animi iure iusto dolorum ipsam repellat expedita. Qui!</h6>
        </div>
    </div>

    <div class="row my-4 my-3">
        <div class="col-md-3 d-flex" id="campos-txt">
            <h5 id="h5-info">Idioma:</h5>
        </div>
        <div class="col-md-9 d-flex">
            <h6 class="m-0 text-muted" id="h6-info">Español, Inglés</h6>
        </div>
    </div>

    <div class="row my-4 my-3">
        <div class="col-md-3 d-flex" id="campos-txt">
            <h5 id="h5-info">Duración:</h5>
        </div>
        <div class="col-md-9 d-flex">
            <h6 class="m-0 text-muted" id="h6-info">1h 30m</h6>
        </div>
    </div>

    <div class="row my-4 my-3">
        <div class="col-md-3 d-flex" id="campos-txt">
            <h5 id="h5-info">Reparto:</h5>
        </div>
        <div class="col-md-9 d-flex">
            <h6 class="m-0 text-muted" id="h6-info">Robert Downey Jr, Chris Hemsworth, Mark Ruffalo, Scarlett Johansson, Jeremy
                Renner</h6>
        </div>
    </div>

    <div class="row my-4 my-3">
        <div class="col-md-3 d-flex" id="campos-txt">
            <h5 id="h5-info">Categoría:</h5>
        </div>
        <div class="col-md-9 d-flex">
            <h6 class="m-0 text-muted" id="h6-info">Acción</h6>
        </div>
    </div>

    <div class="row mt-4 style="background-color: green;">
        <div class="col-md-3 d-flex" id="campos-txt">
            <h5 id="h5-info">Fecha de estreno:</h5>
        </div>
        <div class="col-md-9 d-flex">
            <small class="text-muted"><cite>21/09/2021</cite></small>
        </div>
    </div>

</div>

@code {

    

}
