#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    height: 50vh;
    width: 74vw;
    border: 3px dashed rgba(255, 255, 255, 0.7);
    
    margin: auto;
}

.image-area img {
    max-height: 49vh;
    max-width: auto;
    z-index: 2;
    position: relative;
}
