@page "/"

<h1>Menú principal</h1>

<a class="btn btn-primary" href="/peliculas" role="button">Registrar película</a>
<a class="btn btn-primary" href="/actores" role="button">Registrar actor</a>
<a class="btn btn-primary" href="/generos" role="button">Registrar género</a>
