@* Barra de paginación *@
<div class="d-flex justify-content-center mt-5 mb-3">
    <nav aria-label="pagination-nav">
        <ul class="pagination">
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item active">
                <span class="page-link">
                    1
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            <li class="page-item"><a class="page-link" href="peliculas2">2</a></li>
            <li class="page-item"><a class="page-link" href="peliculas2">3</a></li>
            <li class="page-item">
                <a class="page-link" href="peliculas2">Next</a>
            </li>
        </ul>
    </nav>
</div>