<div class="jumbotron" style="width: 50vw;">
    <div class="form-group d-flex justify-content-center">
        <a role="button" href="/movies/create" class="btn btn-success my-2 mx-2" >Crear Película</a>
        <a role="button" href="/movies/edit/1" class="btn btn-primary my-2 mx-2" >Editar Película</a>
        <a role="button" href="/" class="btn btn-danger my-2 mx-2" >Eliminar Película</a>
    </div>
</div>