<div class="jumbotron" style="width: 50vw;">
    <div class="form-group d-flex justify-content-center">
        <a role="button" href="/actors/create" class="btn btn-success my-2 mx-2">Crear Actor</a>
        <a role="button" href="/actors/edit/1" class="btn btn-primary my-2 mx-2">Editar Actor</a>
        <a role="button" href="#" class="btn btn-danger my-2 mx-2">Eliminar Actor</a>
    </div>
</div>